<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
    <body>
        <h2>Ejemplos de rutas:</h2>

        <h3> Para obtener todos los productos detalladamente en formato JSON con método GET: </h3>
        <p>http://localhost:8000/api/v1/products/</p>

        <h3>Para ver resumen de todos los carritos con método GET</h3>
        <p> http://localhost:8000/api/v1/views/carts/</p>

        <h3> Para ver paginación de productos desde mongo atlas con page, limit, sort y query (método GET), ejemplo: </h3>
        <p>http://localhost:8000/api/v1/views/products?page=1&limit=3&sort={"code":1}&query={"description": "Desde fromulario con socket"}</p>

        <h3>Ejemplo para vista de todos los productos de un carrito por cid dado:</h3>
        <p>http://localhost:8000/api/v1/views/carts/649dd00d2f44220462505662</p>
        {{{body}}}

    </body>
</html>